# Do not use this configuration in production.
# It is for demonstration purposes only.
# Run Mimir in single process mode, with all components running in 1 process.
target: all

# Configure Mimir to use Minio as object storage backend.
blocks_storage:
  backend: filesystem
  bucket_store:
    sync_dir: /tmp/mimir/tsdb-sync
  filesystem:
    dir: /tmp/mimir/data/tsdb
  tsdb:
    dir: /tmp/mimir/tsdb

compactor:
  data_dir: /tmp/mimir/compactor
  sharding_ring:
    kvstore:
      store: memberlist

distributor:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist

ingester:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist
    replication_factor: 1

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/rules


# Blocks storage requires a prefix when using a common object storage bucket.

# Use memberlist, a gossip-based protocol, to enable the 3 Mimir replicas to communicate
#memberlist:
#  join_members: [mimir-1]

store_gateway:
  sharding_ring:
    replication_factor: 1

server:
  log_level: info
  http_listen_port: 9009

limits:
  max_label_names_per_series: 60
  ingestion_burst_size: 2000000
  ingestion_rate: 200000
  max_global_series_per_user: 100000000
  max_query_parallelism: 224
